.board-header-container {
	padding: 16px 30px;
}
.monday-board-subsets-tabs {
	background-color: #fff;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin-right: 48px;
	border-bottom: $primary-light-gray-border;
	.monday-board-subset-item {
		padding-bottom: 4px;
		position: relative;
		.btn {
			border-radius: 4px;
			background-color: #fff;

			max-width: 180px;
			padding: 8px 16px;
			&:hover {
				background-color: $primary-background-hover-color;
			}
		}
	}
	.add-board-subset-picker-wrapper {
		padding-bottom: 4px;
		.btn {
			max-width: 180px;
			background-color: #fff;

			padding: 8px 16px;
			&:hover {
				background-color: $primary-background-hover-color;
			}
		}
		.monday-board-subsets-tabs__separator {
			background-color: $primary-border-clr-light;
			width: 1px;
			margin: 8px 8px;
			height: 24px;
		}
	}
}

.board-subset-item__active-strip {
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #0073ea;
}
