.board-header-view-bar {
	.btn {
		height: 32px;
		border-radius: 4px;
		justify-content: center;
		&:not(.btn-blue):hover {
			background-color: $primary-background-hover-color;
		}
	}
}
.add-task-btn-component {
	.btn-blue {
		border-radius: 4px 0 0 4px;
	}
}
.add-task-btn-component {
	height: 100%;
	.dropdown-button {
		border-radius: 0 4px 4px 0;
		border-left: 1px solid;
		border-left-color: #0071d9;
		background-color: #0073ea;

		width: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 15px;
		cursor: pointer;
		transition: background-color 100ms ease-in;
		&.small-btn {
			height: 32px;
		}
		&:hover {
			background-color: $primary-hover-clr;
		}
	}
}
