.board-header-main {
	flex-direction: column;
	& .board-header-main-top {
		display: flex;
		gap: 10px;
		align-items: center;
		min-width: 100px;
		height: rem(56px);
		& .board-title {
			// line-height: rem(22.5px);
			& h1 {
				line-height: rem(52px);
				font-size: rem(32px);
				border: 1px solid transparent;
				border-radius: 4px;
				min-width: 0;
				padding: 0 4px;
				color: $primary-txt-clr;
				&:hover {
					border: 1px solid rgb(197, 199, 208);
				}
			}
			& input {
				width: 291px;
				font-weight: bold;
				line-height: rem(52px);
				letter-spacing: -1px;
				font-size: rem(32px);
				color: $primary-txt-clr;
				border: 1px solid rgb(0, 115, 234);
				border-radius: 4px;
				padding: 0 4px;
				outline: none;
			}
		}
		& .board-header-title-icon {
			color: rgb(103, 104, 121);
			line-height: 16px;
			font-size: 1rem;
			text-align: center;
			vertical-align: center;
			border-radius: 4px;
			padding: 4px;
			&:hover {
				background-color: rgb(230 233 239);
			}
		}
		& .starred-board {
			color: gold;
		}
	}

	& .board-description {
		color: rgb(103, 104, 121);
		width: 70%;
		max-width: 800px;
		min-width: 500px;
		line-height: 21px;
		& .description-line {
			border: 1px dashed transparent;
			cursor: text;
			overflow: hidden;
			max-height: 20px;
			// overflow-wrap: break-word;
			&:hover {
				border: 1px dashed rgb(167, 167, 167);
			}
			& .text-content {
				margin-inline-start: 2px;
				font-size: rem(14px);
			}
		}
		& textarea {
			width: 100%;
			height: rem(108px);
			resize: none;
			outline: none;
			border: 1px solid rgb(167, 167, 167);
		}
	}
}
