.filter-filter-wrapper {
  margin-inline-end: 6px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .filter-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    width: 32px;
  }
  & .filter-span {
    height: 100%;
    max-width: 140px;
    font-size: rem(14px);
  }
  & .filter-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    height: 100%;
    text-align: center;
    border-left: 1px solid;
    border-left-color: #fff;
    border-left-color: $primary-background-clr;
    // padding-top: 8px;
    // & > * {
    // 	font-size: 9px;
    // 	width: 11px;
    // 	height: 10px;
    // }
  }
  // padding-top: 8px;
  & > * {
    // 	font-size: 9px;
    // 	width: 11px;
    // 	height: 10px;
  }
}
