.person-filter-wrapper {
  margin-inline-end: 6px;
  line-height: 33px;
  text-align: center;
  align-items: center;
  & .person-icon-wrapper {
    font-size: 20px;
    margin-left: 9px;
  }
  & .person-span {
    padding: 1px 0 1px 5px;
    font-size: rem(14px);
    width: 65px;
  }
}
