.first-level-control-content {
	height: 100%;
	width: 100%;
	background-color: $dark-background-clr;
	border-right: 1px solid $primary-border-clr-light;
	opacity: 1;
	transition: opacity 100ms ease;
	transition: width 0.1s cubic-bezier(0, 0, 0.35, 1);
	.control-content-container {
		position: relative;
		height: 100%;
		width: 100%;
		color: $primary-txt-clr;
		.control-content-separator {
			margin: 0 20px;
			color: $primary-background-hover-clr;
		}
		.btn-open-control {
			position: absolute;
			background-color: #fff;
			right: 0;
			top: 20px;
			justify-content: center;
			transform: translateX(50%);
			z-index: 1000;
			height: 27px;
			width: 27px;
			padding: 3px 9px;
			border: 1px solid $primary-border-clr-light;
			color: rgb(95, 96, 100);
			font-weight: 300;
			// font-size: 18px;

			&:hover {
				background-color: $primary-clr;
				color: #fff;
			}
		}
		header.control-content-header {
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			margin: 12px 16px 18px 16px;
			height: 68px;
			.dropdown-navigation-header {
				width: 100%;
				span {
					display: inline-block;
				}
			}
			span {
				color: #676879;
				font-size: 14px;
				font-weight: 400;
			}
			.btn-icon {
				width: 24px;
			}
			.btn-workspace-dropdown-container {
				padding: 6px;
				border-radius: 4px;
				margin-right: 4px;
				width: 100%;
				border: 1px solid #676879;
				h2 {
					color: $primary-txt-clr;
					font-size: 15px;
					font-weight: 500;
				}
				.btn-icon {
					width: 16px;
					height: 16px;
				}
			}
		}
		.control-btns {
			padding: 0 16px 16px 14px;

			& > * {
				justify-content: start;
				padding-left: 6px;
				width: 100%;
				font-size: 13px;
				height: 32px;
			}
			.btn {
				background-color: transparent;
				font-size: 14px;
				color: $primary-txt-clr;
				border-radius: 4px;
				gap: 8px;
				& > * {
					height: 100%;
					display: flex;
					align-items: center;
				}
				&:hover {
					background-color: $primary-background-hover-clr;
				}
			}
			.hero-icon {
				width: 19px;
				height: 19px;
			}
		}

		& .home-control-component {
			& .boards-list {
				width: auto;
				height: 474px;
				max-width: 254px;
				max-height: 474px;
				overflow: hidden;
				position: relative;
				& .boards-preview-title {
					height: 34px;
					padding-inline-start: 20px;
				}
				& ul {
					list-style: none;
					& .board-preview-wrapper {
						& .board-preview {
							cursor: pointer;
							display: flex;
							align-items: center;
							border-radius: 4px;
							&:hover {
								background-color: #e6e9ef;
							}
							& .board-preview-dropdown-icon-wrapper {
								position: absolute;
								right: 5px;
								& ion-icon {
									font-size: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
}
