.first-level-control-content {
	// position: absolute;
	z-index: 10000001;
	// left: $main-nav-width;
	height: 100%;
	top: 0;
	// width: 30px;
	opacity: 1;
	overflow: hidden;
	transition: opacity 100ms ease;
	background-color: $dark-background-color;
	border-right: 1px solid $primary-border-clr-light;
	.control-content-container {
		position: relative;
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		color: $primary-txt-clr;

		.btn-open-control {
			background-color: #fff;
			position: absolute;
			right: 0;
			top: 20px;
			justify-content: center;
			transform: translateX(50%);
			z-index: 1000;

			&:hover {
				background-color: $primary-clr;
				color: #fff;
			}
		}
	}
}
