.first-level-control-content {
	position: fixed;
	z-index: 10000001;
	left: $main-nav-width;
	height: 100%;
	top: 0;
	width: 30px;
	opacity: 1;
	overflow: hidden;
	transition: opacity 100ms ease;
	background-color: $dark-background-color;
	border-right: 1px solid $primary-border-clr-light;

	.control-content-container {
		height: 100%;
		overflow-x: hidden;
		color: $primary-txt-clr;
	}
}
