.date-picker-container {
	&:hover {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 4px;
			right: 5px;
			bottom: 4px;
			left: 5px;
			border: 1px dashed $primary-txt-clr;
		}
	}
}
