.date-picker-table-container {
}

.date-box {
	position: relative;
	// width: 100%;
	// height: 100%;
	span {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		background-color: $primary-background-clr;
	}
}
