.surface-control {
	position: fixed;
	min-width: $main-nav-width;
	height: 100%;
	background-color: $main-nav-background-clr;
	color: #fff;
	padding: 10px 17px;

	ion-icon {
		font-size: 20px;
	}
	a,
	.btn {
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		position: relative;
		cursor: pointer;
		outline: none;
		&.active-link {
			background-color: rgba(255, 255, 255, 0.3);
		}
		&:not(.active-link):hover {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
}
.monday-logo-navbar {
	width: 40px;
	height: 40px;
}
