.add-task-component {
	height: 100%;
	width: 100%;
	align-items: stretch;
	input {
		width: 100%;
		border: 1px solid transparent;
		font-size: 14px;
		background-color: $primary-background-clr;
		outline: none;
		font-weight: 400;
		padding-left: 20px;
		padding-top: 5px;
		height: 35px;
		text-align: left;
		&:hover {
			border: 1px solid $primary-txt-clr;
		}
		&:focus {
			border: 1px solid #0073ea;
		}
	}
	.btn {
		display: block;
		background-color: $primary-clr;
		padding: 0 12px;
		border-radius: 0;
		border-right: 1px solid;
		border-right-color: $primary-background-clr;

		&:not(:hover) {
			// background-color: lighten(currentColor, 10%);
		}
	}
	.pulse-left-indicator {
		height: auto;
		opacity: 0.5;
		opacity: 0.5;
		transition: opacity 0.1s ease;
	}
	&:hover .pulse-left-indicator,
	input:active .pulse-left-indicator {
		opacity: 1;
	}
}

.task-preview {
	height: 100%;
}

.col-list {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 678px;
	flex-basis: 678px;
	position: relative;
}
.col-cell {
	position: relative;
	display: block;

	width: 100%;
	height: 80px;
	flex-basis: 140px;
	padding: 0 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	border-right: 1px solid;
	border-right-color: #fff;
	color: #666;
}
.grid-cell-component-wrapper {
	// left: 378px;
	width: 141px;
	&:not(.picker-component) {
		&.selected {
			background-color: $primary-selected-color;
		}
	}
}

.grid-cells-row-component-wrapper,
.grid-cell-component-wrapper {
	// position: absolute;
	height: 100%;
	will-change: left;
}

.grid-cells-row-component {
	width: 100%;
	// position: relative;
	height: 100%;
}
.grid-cells-row-component-wrapper {
	max-width: 678px;
	flex-basis: 678px;
	line-height: 82px;
	height: 100%;
}

.name-cell {
	height: 56px;
	flex: 1 0 308px;
	will-change: transform;
	height: 100%;
	padding: 0 10px 0 0;
	text-align: left;
	&.selected {
		background-color: $primary-selected-color;
	}
	& > * {
		transition: all 0.3;
		font-size: 13px;
	}
	&:hover > * {
		color: $primary-hover-clr;
	}
	.edit-btn-wrapper {
		flex: 0 0 24px;
		text-align: center;
		line-height: 24px;
		color: #bbb;
		order: 1;
	}
	.btn-edit {
		cursor: pointer;
		height: 24px;
		flex: initial;
		margin-left: 8px;
		color: $secondary-txt-clr;
		padding-left: 8px;
		padding-right: 8px;
		border-radius: 4px;
		line-height: 22px;
		padding-top: 2px;
	}
}

.task-title {
	height: 100%;
	text-overflow: unset;
	overflow: hidden;
	white-space: break-spaces;
	line-height: 18px;
	width: 100%;
	color: $primary-txt-clr;
	span {
		align-self: flex-start;
		padding-left: 10px;
		flex: 1;
		font-weight: 400;
	}
	input {
		width: 100%;
		border: 1px dashed $primary-txt-clr;
	}
}

.pulse-left-indicator {
	flex: 0 0 8px;
	height: 100%;
	width: 100%;
	transition: flex-basis 0.1s ease-in;
	position: relative;

	.left-indicator-inner {
		// position: relative;
		width: 8px;
		height: 100%;
		overflow: hidden;
		transition: width 0.07s cubic-bezier(0, 0, 0.35, 1);
		will-change: width;
		justify-content: center;
		&selected,
		&:hover {
			width: 32px;
		}
		.left-indicator-checkbox {
			height: 14px;
			width: 14px;
			background-color: rgba(0, 0, 0, 0.2);
			outline: 1px rgba(255, 255, 255, 0.2) solid;
		}
	}
}

.picker-component {
	&.dropdown-open {
		position: relative;
	}
}
.picker-component {
	.dropdown-modal {
		background-color: $primary-background-clr;
		color: #323338;
		box-shadow: 0 8px 16px 0px rgb(0 0 0 / 32%);
		border-radius: 4px;
		font-size: 13px;
		transition: width 0.1s;
		pointer-events: all;
		height: 100%;
		width: 100%;
		&::before {
			content: ' ';
			position: absolute;
			border: solid transparent;
			bottom: 100%;
			border-color: #e1e1e100;
			pointer-events: none;
			height: 0;
			width: 0;
			right: 50%;
			transform: translateX(50%);
			border-width: 10px;
		}
		.dropdown-inner-container {
			&:hover {
				opacity: 0.85;
			}
		}
		.picker-dropdown-inner-container {
			height: 300px;
			padding: 16px 16px 16px 16px;
			min-width: 0;
			width: 100%;
			.picker-opt-container {
				width: 100%;
				flex: 0 0 32px;
				width: 112px;
				height: 32px;
				align-self: auto;
				line-height: 32px;
				text-align: center;
				margin-bottom: 8px;
				border-radius: 2px;
				text-align: center;

				color: #fff;
				font-weight: 400;
				cursor: pointer;
				transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
				position: relative;
			}
		}
	}
}
