.task-list {
	width: 100%;

	.task-row {
		line-height: 82px;
		display: block;
		height: 82px;
		width: 100%;
		background-color: #f5f6f8;
		border-bottom: 1px solid;
		border-bottom-color: $primary-background-clr;
		cursor: pointer;

		&:hover {
			background-color: $primary-background-hover-color;
		}
	}
}
