// .task-update {
// 	position: absolute;
// }
.slide-panel {
	position: fixed;
	background-color: #fff;
	padding: 10px;
	width: 570px;
	height: 100%;
	z-index: 1000;
	top: 0px;
	bottom: 0px;
	right: 0px;
	min-width: 300px;
	box-shadow: 0px 0px 10px 0px $main-nav-background-clr;

	transform: none;

	.btn-close-panel {
		align-items: center;
		height: 24px;
		width: 24px;
		margin-left: -6px;
		color: #777;
		border: none;
		cursor: pointer;
		text-decoration: none;
		font-size: 14px;
		&:hover {
			background-color: #dddddd;
		}
	}

	.new-post-placeholder {
		border: none;
		margin: 0;
		padding: 0;
		width: auto;
		overflow: visible;
		background: transparent;
		color: inherit;
		font: inherit;
		line-height: normal;
		border: $primary-blue-border;
		border-radius: 8px;
		padding: 10px 20px;
		color: $primary-txt-clr;
		cursor: text;
		width: 100%;
		justify-content: start;
		text-align: left;
		transition: all 0.15s ease;
		font-size: 16px;
		font-weight: 300;
		&:hover {
			background-color: $primary-background-hover-color;
		}
	}

	.post-no-found {
		margin-top: 65px;
		font-size: 14px;
		font-weight: 400;
		color: #676879;
		border: 1px solid;
		border-color: #c5c7d0;
		padding: 15px;
		text-align: center;
	}

	.btn-update-panel {
		font-family: Roboto, sans-serif;
		margin-top: 7px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		background-color: $primary-clr;
		color: #fff;
		padding: 4px 8px;
		height: 32px;
		line-height: 24px;
		border-radius: 4px;
		border: none;
		transition: 0.3s ease;
		right: 15px;
		bottom: 345px;
	}

	.post-top {
		margin-bottom: 67px;
		margin: 0 20px;
		textarea {
			outline: none;
			display: inline-block;
			border: $primary-blue-border;
			border-radius: 8px;
			padding: 16px 18px;
			margin-bottom: 5px;
			max-height: 400px;
		}
	}

	.post-list-container {
		padding: 20px;
		& > * {
			padding: 20px;
			width: 100%;
		}
		.post {
			// position: relative;
			overflow: visible;
			margin-bottom: 17px;
			font-size: 16px;
			line-height: 20px;
			// font-family: 'Roboto', helvetica, arial, sans-serif;
			font-weight: 300;
			color: #323338;
			border: 1px solid #e6e9ef;
			border-radius: 8px;
			cursor: auto;

			.post-txt {
				padding: 20px;

				// padding: 0 15px 15px;
				min-height: 60px;
			}
		}

		.post-actions-container {
			height: 42px;
			border-top: 1px solid #e6e9ef;
			justify-content: space-around;
			align-items: center;

			.post-like-action {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.post-like-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					width: calc(100% - 8px);
					height: calc(100% - 8px);
					border-radius: 4px;
					font-size: 14px;
				}
			}

			.post-replay-action {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.post-replay-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					width: calc(100% - 8px);
					height: calc(100% - 8px);
					border-radius: 4px;
					font-size: 14px;
				}
			}
		}
	}
}

.header-task-update {
	// width: 100%;
	text-align: left;
	font-size: 24px;
	margin: 20px 20px 6px 24px;
	& .task-title-update {
		// width: 100%;
		font-size: 24px;
		font-weight: 500;
		height: 100%;

		border: 1px solid transparent;
		border-color: transparent;

		border-radius: 3px;
		& h2 {
			// height: 100%;
			font-size: 24px;

			// width: 100%;
			border: 1px solid transparent;
			border-color: transparent;
			&:hover {
				cursor: text;
				border: 1px solid #e6e9ef;
			}
		}
		& input {
			// height: 100%;
			width: 100%;
			// border: none;
			font-size: inherit;
			font-family: inherit;
			&:focus {
				border: $primary-blue-border;
				outline: none;
				&:hover {
					border: $primary-black-border;
				}
			}
		}
	}
	.monday-board-subsets-tabs {
		margin-right: 0;
	}

	.add-board-subset-picker-wrapper {
		display: flex;
		flex: 1;
		justify-content: flex-end;
	}
}
