header.toy-details-header {
	margin-bottom: 20px;
}

.in-stock-label {
	display: inline-block;
	padding: var(--padding-def);
	&.in-stock {
		color: var(--primary-background-clr);
		background-color: green;
	}
}
