// COLOR PALETTE
// Text colors
$clr1: #ce2e6c;
$clr3: #ffb5b5;
$clr2: #504658;
$clr4: #f0decb;
$clr5: #fff;
$secondary-txt-clr: #676879;
$primary-txt-clr: #323338;
$primary-hover-clr: #0060b9;
$primary-clr: #0073ea;

$primary-selected-color: #cce5ff;
// Background colors
$dark-background-color: #f5f6f8;
$main-nav-background-clr: #292f4c;
$primary-background-clr: #fff;
$primary-background-hover-color: #e6e9ef;
// Border color
$primary-border-clr-light: #e6e9ef;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

// PADDING
$padding-def: 10px 20px;

// WIDTH
$main-nav-width: 66px;
$control-content-width: 30px;
// task list margin
$edit-btn-container-width: 30px;
